.flex-logo{
	background-color: chocolate;
	width: 100vw;
	height: 60px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-right: 5%;
	padding-left: 5%;
	position: fixed;
	top: 0;
}

.logo-title{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	color: black;
	font-size: 30px;
}

.logo-title-a{
	text-decoration: none;
	color: black;
}

#toggle-menu-icon{
	height: 30px;
	width: 35px;
}

#toggle-menu{
	display: none;
}

#toggle-menu:checked + .navigation{
	display: block;
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	background-color: #3d2418;
	width: 100%;
	left: 0;
	overflow-y: auto;
	opacity: 1;
	visibility: visible;
}

.navigation{
	display: none;
}

.nav-ul{
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 60px);
}

.nav-li{
	display: flex;
	justify-content: center;
}

.nav-a{
	text-decoration: none;
	color: chocolate;
	cursor: pointer;
	border-bottom: transparent solid 5px;
	font-size: 21px;
}

.nav-a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
	border-bottom: #003791 solid 3px;
}

.flex-container{
	width: 100vw;
	margin-top: 10px;
	position: absolute;
	top: 60px;
	z-index: -1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title{
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}
.line-hr{
	width: 100%;

}
.articles{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}

.flex-line{
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	/* width: 90%; */
}

.content{
	width: 44%;
	display: inline-block;
}

.faq-text-title{
	font-size: 1.2em;
	font-weight: bold;
}

.footer{
  margin-top: 10px;
  background: chocolate;
  color: black;
  height:25px;
  text-align: center;
  padding: 10px;
}
