<<<<<<< HEAD
.flex-logo{
	background-color: chocolate;
	width: 100vw;
	height: 60px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-right: 5%;
	padding-left: 5%;
	position: fixed;
	top: 0;
}

.logo-title{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	color: black;
	font-size: 30px;
}

.logo-title-a{
	text-decoration: none;
	color: black;
}

#toggle-menu-icon{
	height: 30px;
	width: 35px;
}

#toggle-menu{
	display: none;
}

#toggle-menu:checked + .navigation{
	display: block;
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	background-color: #3d2418;
	width: 100%;
	left: 0;
	overflow-y: auto;
	opacity: 1;
	visibility: visible;
}

.navigation{
	display: none;
}

.nav-ul{
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 60px);
}

.nav-li{
	display: flex;
	justify-content: center;
=======
.logo{
	background-color: chocolate;
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
}
.logo-title{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	color: white;
	font-size: 30px;
	margin-top: 10px;
}
/* Código anterior */
/* .navigation{
	margin-top: 5px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.nav-ul{
	display: flex;
	flex-direction: row;
}

.nav-li{
	display: flex;
	padding: 0 5px;
} */
/* Código atual */

.navigation{
	margin-top: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.75);
	padding-top: 4px;
	padding-bottom: 4px;
}

.nav-ul{
	display: flex;
	width: 90vw;
	justify-content: space-between;
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
}

.nav-a{
	text-decoration: none;
	color: chocolate;
	cursor: pointer;
	border-bottom: transparent solid 5px;
	font-size: 21px;
}
<<<<<<< HEAD

=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
.nav-a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
	border-bottom: #003791 solid 3px;
}

.flex-container{
<<<<<<< HEAD
	width: 100vw;
	margin-top: 10px;
	position: absolute;
	top: 60px;
	z-index: -1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

=======
	width: 90vw;
	margin: 10px auto;
}
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
.title{
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}
<<<<<<< HEAD
.line-hr{
	width: 100%;

}
.articles{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}

=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
.flex-line{
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
<<<<<<< HEAD
	/* width: 90%; */
}

=======
}
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
.content{
	width: 44%;
	display: inline-block;
}
<<<<<<< HEAD

=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
.faq-text-title{
	font-size: 1.2em;
	font-weight: bold;
}
<<<<<<< HEAD

.footer{
  margin-top: 10px;
  background: chocolate;
  color: black;
  height:25px;
  text-align: center;
  padding: 10px;
}
=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
