<<<<<<< HEAD
.flex-logo{
	background-color: chocolate;
	width: 100vw;
	height: 60px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-right: 5%;
	padding-left: 5%;
	position: fixed;
	top: 0;
}

.logo-title{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	color: black;
	font-size: 30px;
}

.logo-title-a{
	text-decoration: none;
	color: black;
}

#toggle-menu-icon{
	height: 30px;
	width: 35px;
}

#toggle-menu{
	display: none;
}

#toggle-menu:checked + .navigation{
	display: block;
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	background-color: #3d2418;
	width: 100%;
	left: 0;
	overflow-y: auto;
	opacity: 1;
	visibility: visible;
}

.navigation{
	display: none;
}

.nav-ul{
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 60px);
}

.nav-li{
	display: flex;
	justify-content: center;
=======
.logo{
	background-color: chocolate;
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
}
.logo-title{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	color: white;
	font-size: 30px;
	margin-top: 10px;
}

.navigation{
	margin-top: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.75);
	padding-top: 4px;
	padding-bottom: 4px;
}

.nav-ul{
	display: flex;
	width: 90vw;
	justify-content: space-between;
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
}

.nav-a{
	text-decoration: none;
	color: chocolate;
	cursor: pointer;
	border-bottom: transparent solid 5px;
	font-size: 21px;
}
.nav-a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
	border-bottom: #003791 solid 3px;
}

.flex-container{
  display: flex;
  justify-content: center;
<<<<<<< HEAD
	flex-direction: column;
	align-items: center;
  width: 100vw;
  margin-top: 10px;
  box-sizing: border-box;
	position: absolute;
	top: 60px;
	z-index: -1;
	height: calc(100vh - 70px);
=======
  width: 100vw;
  margin-top: 10px;
  box-sizing: border-box;
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
}

/* .flex-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
	width: 100%;
} */
.flex-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
<<<<<<< HEAD
	height: calc(100vh - 85px);
=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
}

	.flex-form-item{
		display: flex;
	  	width: 100%;
	  	flex-direction: column;
	  	justify-content: center;
	  	margin-bottom: 14px;
	}

	  .form-label{
	  	margin-bottom: 10px;
<<<<<<< HEAD
			font-size: 1.1em;
=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
	  }

	  .form-input{
	  	width: 100%;
<<<<<<< HEAD
=======
	  	border-radius: 8px;
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
	  	box-sizing: border-box;
	  	text-align: left;
	  	height: 5vh;
	  }

	/* Comentei pois não existe classe="flex-row" no html. */
  /* .flex-row
  	display: flex;
  	flex-direction: row;
  } */
  .btn-submit{
<<<<<<< HEAD
  	background-color: chocolate;
  	border: 2px solid chocolate;
  	color: #fff;
  	height: 7vh;
  	text-align: center;
  	cursor: pointer;
	margin-top: 10px;
	border-radius: 8px;
=======
  	background-color: #0ed646;
  	border: 2px solid #0ed646;
  	color: #fff;
  	text-align: center;
  	cursor: pointer;
		margin-top: 10px;
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
  }

	.option{
		display: flex;
		justify-content: space-between;
	}

  .option-register{
  	text-decoration: none;
  	color: #2879fc;
  	/* margin-bottom: 6px; */
  	/* display: inline-block; */
  	width: 100px;
  }
  .option-register:hover{
  	color: #639eff;
  }
<<<<<<< HEAD

	.footer{
	  margin-top: 10px;
	  background: chocolate;
	  color: black;
	  height:25px;
	  text-align: center;
	  padding: 10px;
	}
=======
>>>>>>> d469d52536e3fa4b6c9abe9a11b45355e59a357c
