/* HEADER */
.flex-header{
	background-color: chocolate;
	width: 100vw;
	height: 60px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-right: 5%;
	padding-left: 5%;
	position: fixed;
	top: 0;
}

.header-logo{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	color: black;
	font-size: 30px;
}

.logo-a{
	text-decoration: none;
	color: black;
}

.toggle-menu-icon{
	height: 30px;
	width: 35px;
}

#toggle-menu{
	display: none;
}

#toggle-menu:checked + .navigation{
	display: block;
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	background-color: #3d2418;
	width: 100%;
	left: 0;
	overflow-y: auto;
	opacity: 1;
	visibility: visible;
}

.navigation{
	display: none;
}

.nav-ul{
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 60px);
}

.nav-li{
	display: flex;
	justify-content: center;
}

.nav-a{
	text-decoration: none;
	color: chocolate;
	cursor: pointer;
	border-bottom: transparent solid 5px;
	font-size: 21px;
}

.nav-a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
	border-bottom: #003791 solid 3px;
}

/* CONTAINER */
.flex-container{
  display: flex;
  justify-content: center;
	flex-direction: column;
	align-items: center;
  width: 100vw;
  margin-top: 10px;
  box-sizing: border-box;
	position: absolute;
	top: 60px;
	z-index: -1;
	height: calc(100vh - 70px);
}

/* .flex-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
	width: 100%;
} */

.flex-error{
	display: flex;
	background-color: #fc2525;
	box-sizing: border-box;
	margin-bottom: 10px;
	color: white;
	font-family: 'Georgia', sans-serif;
	border-radius: 10px;
    padding: 20px;
	justify-content: center;
	border: transparent solid 3px;

}
.flex-error:hover{
	border: #cc1a1a solid 3px;
}
.flex-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
  height: calc(100vh - 85px);
}
.flex-form-item{
		display: flex;
	  	width: 100%;
	  	flex-direction: column;
	  	justify-content: center;
	  	margin-bottom: 14px;
	}
.form-label{
	  	margin-bottom: 10px;
			font-size: 1.1em;
	  }

	  .form-input{
	  	width: 100%;
	  	box-sizing: border-box;
	  	text-align: left;
	  	height: 5vh;
	  }

	/* Comentei pois não existe classe="flex-row" no html. */
  /* .flex-row
  	display: flex;
  	flex-direction: row;
  } */
  .btn-submit{
  	background-color: chocolate;
  	border: 2px solid chocolate;
  	color: #fff;
  	height: 7vh;
  	text-align: center;
  	cursor: pointer;
	margin-top: 10px;
}
   .flex-form-item{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 14px;
}

.item-label{
	margin-bottom: 10px;
	font-size: 1.1em;
}

.item-input{
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	height: 5vh;
}

.flex-form-option{
	display: flex;
	justify-content: space-between;
}

.option-forget{
	display: flex;
	align-items: flex-end;
	text-decoration: none;
	color: #2879fc;
}

/* .option-forget:hover{
	color: #639eff;
} */

.btn-submit{
	background-color: chocolate;
	border: 2px solid chocolate;
	color: #fff;
	height: 7vh;
	text-align: center;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 8px;
}

.footer{
  margin-top: 10px;
  background: chocolate;
  color: black;
  height:25px;
  text-align: center;
  padding: 10px;
}
