.container {
  max-width: 960px;
}

/*
 * Changes banner design
*/
#banner {
  background-color: #62008e;
}

#banner-content {
  color: white;
  font-family: WillyWonka;
}

@font-face {
  font-family: 'WillyWonka';
  src: url('fonts/WillyWonka.ttf');
}

/*
 *Design products
*/

.purple {
  color: #62008e;
}

.shadow-effect {
  border: solid white;
}

.shadow-effect:hover {
  border: solid #62008e;
}

.card-border {
  border-radius: 21px;
}

.product-img {
  width: 80%;
  height: 300px;
  border-radius: 21px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.btn {
font-size: 80%;
border-radius: 5rem;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
transition: all 0.2s;
background: #62008e;
color: #FFFFFF;
}

.btn-delete {
font-size: 80%;
border-radius: 5rem;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
transition: all 0.2s;
background: #DC143C;
color: #FFFFFF;
}

/*
 * Extra utilities
 */

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.overflow-hidden { overflow: hidden; }
