.navbar-login {
    background-color: #9D00C7 !important;
}

.navbar_home {
    display: flex;
    align-items: center;
    background-color: #9D00C7 !important;
}

.navbar_home ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar_home i {
    color: white;
    font-size: 17px;
    padding: 10px;
}

.dropdown-menu {
    position: absolute !important;
}

.dropdown-menu a {
    color: black;
}
